
.img-home{
    padding-top: 1%;
    background-color: white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}.img-home img{
    margin-top: 5%;
    width: 25%;
    height: 4%;
    margin-bottom: 2%;
}
.home{
    background-color: white;
}.mat-drawer-container mat-sidenav-container sidenav-container{
    background-color: white;
}
