app-new-invoice{
   height: 100%;
}.input{
    width: 46%;
    margin-left: 3%;
 }
 .textarea{
    width: 95%;
    margin-left: 3%;
 }
 .inputProduct{
   width: 28%;
   margin-left: 3%;
 }
 .dividerProducts{
   font-weight: bold;
 }
 .delete{
   
   margin-left: 1%;
 }
 .ng-star-inserted{
   height: 100%;
 }