.titulo{
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    font-weight:500;

}
.buscador{
    margin-left: 50px;
}
.buscar{
    
    margin-left: 20px;
}
.imprimir{
   
    margin: 0 auto;
}
ul li{
    list-style: none;
}

mat-form-field{
    width: 350px;;
}
