.buttons{
   margin-left: 33%;
 }
 .input{
    width: 46%;
    margin-left: 3%;
 }
 .textarea{
    width: 95%;
    margin-left: 3%;
 }
 #nombreProducto{
   width: 95%;
 }
 mat-dialog-content{
   width: 600px;
 }